<div class="page-title">
  <h4>История заказов</h4>
  <button
    #tooltip
    (click)="isFilterVisible()"
    [ngClass]="{ active: filterVisibility }"
    class="btn btn-small"
    data-position="left"
    data-tooltip="Открыть фильтр"
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>

<afs-history-filter *ngIf="filterVisibility"></afs-history-filter>
<afs-history-list></afs-history-list>

<div class="center mb2">
  <button class="btn waves-effect grey darken-1 btn-small">Загрузить еще</button>
</div>
