.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0
}

.page-title a {
  color: black;
  opacity: .8

}

.page-title h3, .page-title h4 {
  margin: 0;
  font-size: 2.3rem
}

.mb2 {
  margin-bottom: 20px;
}

.dn {
  display: none;
}

.h200 {
  max-width: 300px;
  max-height: 300px;
}

.mt-media {
  margin-top: 0;
}

@media screen and (max-width: 992px) {
  .mt-media {
    margin-top: 20px;
  }
}
